@model ShoppingCartViewModel

<div class="row checkoutForm">
    <h2>Your Shopping Cart</h2>
    <h4>Here are the pizzas in your shopping cart</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected Amount</th>
                <th>Pizza</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
            <tr>
                <td class="text-center">@line.Amount</td>
                <td class="text-left">@line.Pizza.Name</td>
                <td class="text-right">@line.Pizza.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Amount * line.Pizza.Price).ToString("c"))
                </td>
                <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-pizzaid="@line.Pizza.PizzaId">Odejmij</a>
                </td>
            </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right"> @Model.ShoppingCartTotal.ToString()</td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group">
            <a class=" btn btn-success" asp-controller="Order" asp-action="Checkout" >Check out</a>          
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index"> Add more pizzas</a>   
                
        </div>
    </div>

</div>